* {
  margin: 0;
  padding: 0;
}
.score {
  margin: 10px auto 0;
  display: flex;
  justify-content: space-between;
}

.container {
  margin: auto;
  width: 400px;
}


.grid {
  margin: 20px auto;
  padding: 10px;
  background-color: #ad9d8f;
  width: min-content;
  height: auto;
  gap: 10px;

  display: grid;
  grid-template-columns: repeat(4, 90px);
  grid-template-rows: repeat(4, 90px);

  border-radius: 10px;
}

.block {
  display: flex;
  width: 90px;
  height: 90px;
  justify-content: center;
  align-items: center;
  background-color: rgba(230, 231, 203, 0.3);
  border-radius: 5px;

  font-size: 40px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: grey;
}

.block--active {
  position: absolute;
  z-index: 5;
  transition: 1s ease;
}
